@each $viewport-name, $viewport in $viewports {
  @media #{$viewport} {
    .hidden--#{$viewport-name} {
      display: none;
    }

    $display-options: (inline, block, inline-block, flex);

    @each $display-option in $display-options {
      .visible-#{$display-option}--#{$viewport-name} {
        display: $display-option;
      }
    }
  }
}