.teaser {
  @include transform-style(preserve-3d);
  position: relative;

  img.teaser-filler {
    display: block;
    visibility: hidden;
  }

  @mixin flippable() {
    position: absolute;
    transition: all $teaser-transition-duration $teaser-transition, -webkit-filter 1ms ease ($teaser-transition-duration * 3 / 10), filter 1ms ease ($teaser-transition-duration * 3 / 10);
  }

  img.teaser-image {
    @include flippable();
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .teaser-text {
    @extend .grid--center;
    @include flippable();
    @include backface-visibility(hidden);
    @include transform(rotateY(180deg));
    left: 12%;
    right: 12%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    justify-content: center;
    color: $teaser-text-color;
  }

  &:hover > img.teaser-image {
    @include transform(rotateY(180deg));
    @include border-radius($teaser-flip-card-border-radius);

    @include filter(grayscale(100%) brightness($teaser-image-final-brightness) contrast($teaser-image-final-contrast));
  }
  &:hover > .teaser-text {
    @include transform(rotateY(360deg));
    @include border-radius($teaser-flip-card-border-radius);
  }
}