$theme: "dark";

$content-width: 700px;
$content-width-large-desktop: (10 / 7) * $content-width;

$background-image-mobile: "background_0.jpg";
$background-image-tablet: "background_1.jpg";
$background-image-desktop: "background_2.jpg";
$background-image-large-desktop: "background_3.jpg";
$background-overlay-color: #222;
$background-overlay-transparency: .08;

$color: #dcdcdc;
$font-family: Georgia, Times, 'Times New Roman', serif;

$heading-font-family: $font-family;
$heading-color: $color;
$sub-heading-color: darken($heading-color, 30%);

@if $theme == "bright" {
  $background-overlay-color: invert($background-overlay-color);
  $color: invert($color);
  $heading-color: $color;
  $sub-heading-color: lighten($heading-color, 30%);
}