$viewport-mobile: "only screen";
$viewport-tablet: "only screen and (min-width: 481px)";
$viewport-desktop: "only screen and (min-width: 769px)";
$viewport-large-desktop: "only screen and (min-width: 1201px)";

$viewports: (
        mobile: $viewport-mobile,
        tablet: $viewport-tablet,
        desktop: $viewport-desktop,
        large-desktop: $viewport-large-desktop
);