#content {
  max-width: $content-width;

  @media #{$viewport-tablet} {
    padding: 0 1.2em;
  }

  @media #{$viewport-desktop} {
    padding: 0;
  }

  @media #{$viewport-large-desktop} {
    max-width: $content-width-large-desktop;
  }

  margin: 4em auto;

  p {
    text-align: justify;
    &:first-letter {
      font-size: 2em;
    }
  }
}