#heading {
  font-family: $heading-font-family;
  color: $heading-color;
  font-style: italic;
  text-align: center;

  h1 {
    font-variant: small-caps;

    @media #{$viewport-desktop} {
      font-size: 3em;
    }

    @media #{$viewport-large-desktop} {
      font-size: 3.5em;
    }
  }

  small {
    @extend .sidelines;

    color: $sub-heading-color;
  }

  @media #{$viewport-tablet} {
    margin-top: 2.4em;
  }

  @media #{$viewport-desktop} {
    margin-top: 4em;
  }
}