@media #{$viewport-large-desktop} {
  #section-text {
    p {
      flex: 0 0 49%;
      &:nth-child(odd) {
        margin-right: 1%;
      }
      &:nth-child(even) {
        margin-left: 1%;
      }
    }
  }
}