@media #{$viewport-large-desktop} {
  #index-section-teaser {
    flex-direction: column;
    flex-wrap: wrap;
    height: 750px;

    .teaser {
      width: 250px;

      &:first-child {
        width: 750px;
        order: 1;
      }
    }
  }

  #index-section-text {
    p {
      padding-left: 10px;
      padding-right: 10px;
      &.grid-cell {
        flex: 0 0 480px;
      }
      &.grid-cell--full--mobile, &.grid-cell--full--tablet, &.grid-cell--full--desktop &.grid-cell--full--large-desktop {
        flex: 0 0 980px;
      }
    }
  }
}

#index-section-teaser {
  @include perspective(1000);
  @include transform-style(preserve-3d);
}